{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Edit article : {{ article.title }}</h1>
    {% include 'Blog/_form.html.twig' %}
    <a href="/blog/show?id={{ article.id }}">Back</a>
{% endblock %}
