{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/blog.css">{% endblock %}

{% block content %}
    <h1>Articles</h1>
    <ul>
        {% for article in articles %}
            <li><a href="/blog/show?id={{ article.id }}">{{ article.id }}. {{ article.title }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/blog/add">Ajouter</a>
{% endblock %}
