{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Hello Wilder !</h1>
    <p>Find a complete CRUD example on <a href="/items">/items</a> page.</p>
    <p>Try to create a complete CRUD on <a href="/blog">/blog</a> page.</p>
{% endblock %}
